@model IEnumerable<FilmDBnew.Models.FilmModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista</h1>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.ID">szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
